<div class="index_wrap contain">
    <div class="row first_row">
        <div class="col-md-6 col-md-offset-1">
            <div class="slogan">
                <h1>Golfers Do It...</h1>
                <p><img src="../../Images/Golf Items/golf-ball.png" />n the Green</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <div class="button_wrap">
                <a class="btn btn-full" href="/shop">Shop Now</a>
                <a class="btn btn-full" href="/book/0">Book Your Tee Time</a>
            </div>
        </div>
    </div>
</div>
<section id="about">
    <a id="aboutScrollTo" name="about"></a>
    <h2>About Us</h2>
    <div class="about_us_contain">
        <p>On the Green Golf Shop was founded in 2016 and is a place where golfers can do it all! Located in The Woodlands, Texas, On the Green offers premier golf lessons from our world class coaches. Come by and try out our golf simulators with the clubs of your dreams. Putt on our putting greens and find your perfect putter. Let our pros fit you with the perfect clubs. Sign-up for lessons and start dropping strokes immediately. We have it all at On  the Green Golf Store!</p>
        <p>
            Check out our online features as well, where we have the premier social media for golfers. Keep track of your scores and find your handicap, shop online for our best deals, book tee times with golfers just like you. On the Green has a fun and friendly web environment! Always remember golfers do it, On the Green!
        </p>
    </div>
</section>
<section id="location">
    <div class="row">
        <div class="col-md-6">
            <ui-gmap-google-map center="vm.center" zoom="vm.zoom">
                <ui-gmap-markers models="vm.markers"
                                 coords="'self'"
                                 icon="'icon'"
                                 options="'options'">
                </ui-gmap-markers>
            </ui-gmap-google-map>
        </div>
        <div class="col-md-6">
            <table class="contact_us">
                <tr>
                    <th>Come See Us!</th>
                </tr>
                <tr>
                    <td>
                        7242 I-45 N. Fwy
                    </td>
                </tr>
                <tr>
                    <td>
                        The Woodlands, Texas 78712
                    </td>
                </tr>
                <tr>
                    <td>Phone: 936-555-6427</td>
                </tr>
            </table>
        </div>
    </div>

</section>
